NEXT_PUBLIC_BACKEND_URL=https://backend-hazel-five-99.vercel.app
NEXT_PUBLIC_VAPI_PUBLIC_KEY=8e681f18-f286-40ca-8e81-879c64d29867
VOICE_SARAH=EXAVITQu4vr4xnSDxMaL
VOICE_ALEX=pNInz6obpgDQGcFmaJgB
VOICE_MAYA=ThT5KcBeYPX3keUQqHPh
VOICE_MARCUS=yoZ06aMxZJJ28mfd3POQ
VOICE_ZOE=pFGS62b2FfGhol4k2agY
VOICE_RYAN=onwK4e9ZLuTAKqWW03F9
