# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Environment variables
.env
.env*.local

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*

# OS & Editor
.DS_Store
.vscode/
.idea/
tsconfig.tsbuildinfo
